.AllOrder .ant-input {
  width: 200px;
}
.AllOrder .ant-calendar-picker-input{
   margin: 10px 0;
 }
.AllOrder p{
  padding: 0;
  margin: 0;
}
.AllOrder .ant-table-thead>tr>th,.ant-table-thead>tr>td{
  padding: 16px 16px;
  width:24%;
}
.AllOrder .ant-table-thead>tr>th,.ant-table-thead>tr>td:nth-of-type(1){
   width: 0;
 }
.AllOrder .ant-table-tbody>tr>td>div>span{
   margin: 0 10px 10px 0;
 }
