.bodyss .ant-table-tbody > tr > td:nth-of-type(1){
  /*width: 120px;*/
  height: 100px;
  /*background-color: red;*/
}

.bodyss  .ant-table-tbody > tr > td:nth-of-type(2){
  width: 248px;
  /*height: 100px;*/
  /*background-color: yellow;*/
  padding-left: 190px;
}
.bodyss .ant-table-tbody > tr > td:nth-of-type(3){
  width: 248px;
  height: 100px;
  /*background-color: aqua;*/
  padding-left: 190px;
}
.bodyss .ant-table-tbody > tr > td:nth-of-type(4){
  width: 248px;
  height: 100px;
  /*background-color: orange;*/
  /*padding-left: 160px;*/
  padding-left: 100px;
}




/*nav导航条*/
.bodyss .ant-table-thead tr th:nth-of-type(1){
  width: 50px;
  text-align: center;
  /*background-color: pink;*/
}
.bodyss .ant-table-row  td:nth-of-type(1){
  text-align: center;
}
.bodyss .ant-table-thead tr th:nth-of-type(2){
  width: 50px;
  /*background-color: orange;*/
  padding-left: 190px;
}
.bodyss .ant-table-thead tr th:nth-of-type(3){
  padding-left: 190px;
  /*background-color: greenyellow;*/
}
.bodyss .ant-table-thead tr th:nth-of-type(4){
  padding-left: 100px;
  /*background-color: salmon;*/
}
.bodyss .antd-pro-pages-content-access-leiXType > .ant-input{
  width: 110px;
}
.bodyss .ant-calendar-picker-input{
  margin: 0 0;
}


/*nav加粗*/
.bodyss .ant-table-thead tr th{
  font-weight: 800;
}


